{% extends "_base.html" %}


{% block content %}


<br>

<form action="/" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <input name="item_text" class="form-control input-lg" type="text" placeholder="User Name: " required>
  </div>
  <input type="submit" class="btn btn-success btn-lg btn-block" value="Submit">
</form>

<br>
<hr>
<h1> Lista de todos los mensajes: </h1>
<div>
  {% for item in items %}
    <h4 class="well"><strong>{{item.text}}</strong> - <em>{{item.date_posted}}</em></h4>
  {% endfor %}
</div>

{% endblock content %}